.game {
	position: relative;
	min-height: 100svh;
	width: 100%;

	&:focus-visible {
		outline: none;
	}
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 1310px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
